.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.dark .link {
    color: white;
}

.light .link {
    color: black;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}