.card {
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(201, 243, 243);
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
    transition: transform 0.3s ease;
}
.image{
    height: 120px;
    width: 100px;
    display: inline;
    padding-bottom: 10px;
}
.title{
    font-size: 15px;
    display: inline;
    padding-bottom: 15px;
}
.price{
    color: rgb(87, 143, 4);
    display: inline;
}

.card:hover{
    transform: scale(1.1);
}
.product{
    display: flex;
    flex-direction: column;
}
.button{
    height: 30px;
    border-radius: 10px;
    background-color: rgb(104, 225, 185);
}