.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    margin: 10px;
}

.image-details {
    height: 400px;
    width: 370px;
}

.leftSize {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 30px;
}

.add-to-favotite {
    border-radius: 10px;
}

.back {
    border-radius: 10px;
}

.price {
    font-size: 30px;
}

.title {
    font-size: 20px;
}
.category{
    background-color: rgb(206, 232, 254);
    width: 80px;
    padding: 8px;
}