.city-card{
    border: 1px solid black;
    padding: 30px;  
    background-color: aqua;
    display: inline;
    display: flex;
    flex-direction: column;
}

.name{
    display: inline;
}

.city-card:hover{
    cursor: pointer;
}