.welcome {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-height: 95vh;
    background-color: moccasin;
}
.button{
height: 100px;
width: 160px;
}
.input{
    height: 40px;
    width: 160px;
}