.details-card{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 80.7vh;
    background-color: bisque;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    background-color:bisque;
    min-height: 80.7vh;
}