/* :root{

} */
body {
    margin: 0;
    padding: 0;
    border: 3px solid black;
}

.top-nav {
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
}

.nav-home {
    color: black;
    padding: 5px;
    font-weight: bold;
}

.nav-content {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.nav-home:hover {
    text-decoration: none;
}



.main {
    background-color: #f3f6f2;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-1-1 {
    padding-top: 25px;
    color: #95b028;
    height: 10px;
}

.part-2-1::before {
    content: "●";
    color: #4caf50;
}

.section-2 {
    border: 1px solid gray;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 65%;
    border-radius: 10px;
}

.block-1-2 {
    margin: 10px;
}

.block-2-2 {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.right-2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
}

.midell-2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
}

.left-2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
}

.block-2-2 h4 {
    color: #4caf50;
}

.section-3 {
    border: 1px solid gray;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 65%;
    border-radius: 10px;
}

.block-1-3 {
    margin: 10px;
}

.block-2-3 {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
    height: 80px;
}

.part-1-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
    flex: 1;
    position: relative;
}

.part-2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
    flex: 1;
    position: relative;
}

.part-3-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
    flex: 1;
    position: relative;


}

.part-4-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f3ef;
    flex: 1;
    position: relative;

}

.block-2-3 h3 {
    color: #dfbe1b;
    flex: 1;
    position: absolute;
}

.block-2-3 p {
    flex: 1;
    position: absolute;
    top: 30px;
}


.section-4 {
    border: 1px solid gray;
    background-color: white;
    flex-direction: column;
    width: 65%;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 40px;
}

.words-4 {
    padding: 10px;
}

.content {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    background-image: linear-gradient(to left, #c7b10d, #63b044);
    margin: 7px;
    color: white;
}

.footer {
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
}

.footer-home {
    color: black;
    padding: 5px;
    font-weight: bold;
}

.footer-home:hover {
    text-decoration: none;
}

.footer-content {
    text-decoration: none;
    color: black;
    padding: 5px;
}

@media(max-width: 767px) {
    .right-nav{
        padding: 10px;
    }
    .left-nav{
        padding: 10px;
    }
    .section-2 {
        width: 100%;
    }

    .block-2-2 {
        flex-direction: column;
    }
    .section-3{
        width: 100%;
    }
}